
.vs/EmployeeAPI/config/applicationhost.config
.vs/EmployeeAPI/DesignTimeBuild/.dtbcache
.vs/EmployeeAPI/DesignTimeBuild/.dtbcache.v2
.vs/EmployeeAPI/v15/.suo
.vs/EmployeeAPI/v15/Server/sqlite3/db.lock
.vs/EmployeeAPI/v15/Server/sqlite3/storage.ide
.vs/EmployeeAPI/v15/Server/sqlite3/storage.ide-shm
.vs/EmployeeAPI/v15/Server/sqlite3/storage.ide-wal
.vs/EmployeeAPI/v16/.suo
BusinessLayer/bin/Debug/netstandard2.0/BusinessLayer.deps.json
BusinessLayer/bin/Debug/netstandard2.0/BusinessLayer.dll
BusinessLayer/bin/Debug/netstandard2.0/BusinessLayer.pdb
BusinessLayer/bin/Debug/netstandard2.0/BusinessModels.dll
BusinessLayer/bin/Debug/netstandard2.0/BusinessModels.pdb
BusinessLayer/bin/Debug/netstandard2.0/DataLayer.dll
BusinessLayer/bin/Debug/netstandard2.0/DataLayer.pdb
BusinessLayer/obj/BusinessLayer.csproj.nuget.cache
BusinessLayer/obj/BusinessLayer.csproj.nuget.dgspec.json
BusinessLayer/obj/BusinessLayer.csproj.nuget.g.props
BusinessLayer/obj/BusinessLayer.csproj.nuget.g.targets
BusinessLayer/obj/Debug/netstandard2.0/.NETStandard,Version=v2.0.AssemblyAttributes.cs
BusinessLayer/obj/Debug/netstandard2.0/BusinessLayer.AssemblyInfo.cs
BusinessLayer/obj/Debug/netstandard2.0/BusinessLayer.assets.cache
BusinessLayer/obj/Debug/netstandard2.0/BusinessLayer.AssemblyInfoInputs.cache
BusinessLayer/obj/Debug/netstandard2.0/BusinessLayer.csproj.CopyComplete
BusinessLayer/obj/Debug/netstandard2.0/BusinessLayer.csproj.CoreCompileInputs.cache
BusinessLayer/obj/Debug/netstandard2.0/BusinessLayer.csproj.FileListAbsolute.txt
BusinessLayer/obj/Debug/netstandard2.0/BusinessLayer.csprojAssemblyReference.cache
BusinessLayer/obj/Debug/netstandard2.0/BusinessLayer.dll
BusinessLayer/obj/Debug/netstandard2.0/BusinessLayer.pdb
BusinessLayer/obj/project.assets.json
BusinessLayer/obj/project.nuget.cache
BusinessModels/bin/Debug/netstandard2.0/BusinessModels.deps.json
BusinessModels/bin/Debug/netstandard2.0/BusinessModels.dll
BusinessModels/bin/Debug/netstandard2.0/BusinessModels.pdb
BusinessModels/obj/BusinessModels.csproj.nuget.cache
BusinessModels/obj/BusinessModels.csproj.nuget.dgspec.json
BusinessModels/obj/BusinessModels.csproj.nuget.g.props
BusinessModels/obj/BusinessModels.csproj.nuget.g.targets
BusinessModels/obj/Debug/netstandard2.0/.NETStandard,Version=v2.0.AssemblyAttributes.cs
BusinessModels/obj/Debug/netstandard2.0/BusinessModels.AssemblyInfo.cs
BusinessModels/obj/Debug/netstandard2.0/BusinessModels.AssemblyInfoInputs.cache
BusinessModels/obj/Debug/netstandard2.0/BusinessModels.assets.cache
BusinessModels/obj/Debug/netstandard2.0/BusinessModels.csproj.CoreCompileInputs.cache
BusinessModels/obj/Debug/netstandard2.0/BusinessModels.csproj.FileListAbsolute.txt
BusinessModels/obj/Debug/netstandard2.0/BusinessModels.csprojAssemblyReference.cache
BusinessModels/obj/Debug/netstandard2.0/BusinessModels.dll
BusinessModels/obj/Debug/netstandard2.0/BusinessModels.pdb
BusinessModels/obj/project.assets.json
BusinessModels/obj/project.nuget.cache
DataLayer/bin/Debug/netstandard2.0/BusinessModels.dll
DataLayer/bin/Debug/netstandard2.0/BusinessModels.pdb
DataLayer/bin/Debug/netstandard2.0/DataLayer.deps.json
DataLayer/bin/Debug/netstandard2.0/DataLayer.dll
DataLayer/bin/Debug/netstandard2.0/DataLayer.pdb
DataLayer/obj/DataLayer.csproj.nuget.cache
DataLayer/obj/DataLayer.csproj.nuget.dgspec.json
DataLayer/obj/DataLayer.csproj.nuget.g.props
DataLayer/obj/DataLayer.csproj.nuget.g.targets
DataLayer/obj/Debug/netstandard2.0/.NETStandard,Version=v2.0.AssemblyAttributes.cs
DataLayer/obj/Debug/netstandard2.0/DataLayer.AssemblyInfo.cs
DataLayer/obj/Debug/netstandard2.0/DataLayer.AssemblyInfoInputs.cache
DataLayer/obj/Debug/netstandard2.0/DataLayer.assets.cache
DataLayer/obj/Debug/netstandard2.0/DataLayer.csproj.CopyComplete
DataLayer/obj/Debug/netstandard2.0/DataLayer.csproj.CoreCompileInputs.cache
DataLayer/obj/Debug/netstandard2.0/DataLayer.csproj.FileListAbsolute.txt
DataLayer/obj/Debug/netstandard2.0/DataLayer.csprojAssemblyReference.cache
DataLayer/obj/Debug/netstandard2.0/DataLayer.dll
DataLayer/obj/Debug/netstandard2.0/DataLayer.pdb
DataLayer/obj/project.assets.json
DataLayer/obj/project.nuget.cache
EmployeeAPI/bin/Debug/netcoreapp3.1/appsettings.Development.json
EmployeeAPI/bin/Debug/netcoreapp3.1/appsettings.json
EmployeeAPI/bin/Debug/netcoreapp3.1/BusinessLayer.dll
EmployeeAPI/bin/Debug/netcoreapp3.1/BusinessLayer.pdb
EmployeeAPI/bin/Debug/netcoreapp3.1/BusinessModels.dll
EmployeeAPI/bin/Debug/netcoreapp3.1/BusinessModels.pdb
EmployeeAPI/bin/Debug/netcoreapp3.1/DataLayer.dll
EmployeeAPI/bin/Debug/netcoreapp3.1/DataLayer.pdb
EmployeeAPI/bin/Debug/netcoreapp3.1/EmployeeAPI.deps.json
EmployeeAPI/bin/Debug/netcoreapp3.1/EmployeeAPI.dll
EmployeeAPI/bin/Debug/netcoreapp3.1/EmployeeAPI.exe
EmployeeAPI/bin/Debug/netcoreapp3.1/EmployeeAPI.pdb
EmployeeAPI/bin/Debug/netcoreapp3.1/EmployeeAPI.runtimeconfig.dev.json
EmployeeAPI/bin/Debug/netcoreapp3.1/EmployeeAPI.runtimeconfig.json
EmployeeAPI/bin/Debug/netcoreapp3.1/Microsoft.Bcl.AsyncInterfaces.dll
EmployeeAPI/bin/Debug/netcoreapp3.1/Microsoft.Bcl.HashCode.dll
EmployeeAPI/bin/Debug/netcoreapp3.1/Microsoft.Data.Sqlite.dll
EmployeeAPI/bin/Debug/netcoreapp3.1/Microsoft.DotNet.PlatformAbstractions.dll
EmployeeAPI/bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.Abstractions.dll
EmployeeAPI/bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.dll
EmployeeAPI/bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.Relational.dll
EmployeeAPI/bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.Sqlite.dll
EmployeeAPI/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Caching.Abstractions.dll
EmployeeAPI/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Caching.Memory.dll
EmployeeAPI/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Configuration.Abstractions.dll
EmployeeAPI/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Configuration.Binder.dll
EmployeeAPI/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Configuration.dll
EmployeeAPI/bin/Debug/netcoreapp3.1/Microsoft.Extensions.DependencyInjection.Abstractions.dll
EmployeeAPI/bin/Debug/netcoreapp3.1/Microsoft.Extensions.DependencyInjection.dll
EmployeeAPI/bin/Debug/netcoreapp3.1/Microsoft.Extensions.DependencyModel.dll
EmployeeAPI/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Logging.Abstractions.dll
EmployeeAPI/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Logging.dll
EmployeeAPI/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Options.dll
EmployeeAPI/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Primitives.dll
EmployeeAPI/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
EmployeeAPI/obj/Debug/netcoreapp3.1/EmployeeAPI.AssemblyInfo.cs
EmployeeAPI/obj/Debug/netcoreapp3.1/EmployeeAPI.AssemblyInfoInputs.cache
EmployeeAPI/obj/Debug/netcoreapp3.1/EmployeeAPI.assets.cache
EmployeeAPI/obj/Debug/netcoreapp3.1/EmployeeAPI.csproj.CopyComplete
EmployeeAPI/obj/Debug/netcoreapp3.1/EmployeeAPI.csproj.CoreCompileInputs.cache
EmployeeAPI/obj/Debug/netcoreapp3.1/EmployeeAPI.csproj.FileListAbsolute.txt
EmployeeAPI/obj/Debug/netcoreapp3.1/EmployeeAPI.csprojAssemblyReference.cache
EmployeeAPI/obj/Debug/netcoreapp3.1/EmployeeAPI.dll
EmployeeAPI/obj/Debug/netcoreapp3.1/EmployeeAPI.exe
EmployeeAPI/obj/Debug/netcoreapp3.1/EmployeeAPI.genruntimeconfig.cache
EmployeeAPI/obj/Debug/netcoreapp3.1/EmployeeAPI.MvcApplicationPartsAssemblyInfo.cache
EmployeeAPI/obj/Debug/netcoreapp3.1/EmployeeAPI.pdb
EmployeeAPI/obj/Debug/netcoreapp3.1/EmployeeAPI.RazorTargetAssemblyInfo.cache
EmployeeAPI/obj/Debug/netcoreapp3.1/staticwebassets/EmployeeAPI.StaticWebAssets.Manifest.cache
EmployeeAPI/obj/Debug/netcoreapp3.1/staticwebassets/EmployeeAPI.StaticWebAssets.xml
EmployeeAPI/obj/EmployeeAPI.csproj.nuget.cache
EmployeeAPI/obj/EmployeeAPI.csproj.nuget.dgspec.json
EmployeeAPI/obj/EmployeeAPI.csproj.nuget.g.props
EmployeeAPI/obj/EmployeeAPI.csproj.nuget.g.targets
EmployeeAPI/obj/project.assets.json
EmployeeAPI/obj/project.nuget.cache
EmployeeAPI/bin/Debug/netcoreapp3.1/Properties/launchSettings.json
EmployeeAPI/bin/Debug/netcoreapp3.1/runtimes/alpine-x64/native/libe_sqlite3.so
EmployeeAPI/bin/Debug/netcoreapp3.1/runtimes/linux-arm/native/libe_sqlite3.so
EmployeeAPI/bin/Debug/netcoreapp3.1/runtimes/linux-arm64/native/libe_sqlite3.so
EmployeeAPI/bin/Debug/netcoreapp3.1/runtimes/linux-armel/native/libe_sqlite3.so
EmployeeAPI/bin/Debug/netcoreapp3.1/runtimes/linux-musl-x64/native/libe_sqlite3.so
EmployeeAPI/bin/Debug/netcoreapp3.1/runtimes/linux-x64/native/libe_sqlite3.so
EmployeeAPI/bin/Debug/netcoreapp3.1/runtimes/linux-x86/native/libe_sqlite3.so
EmployeeAPI/bin/Debug/netcoreapp3.1/runtimes/osx-x64/native/libe_sqlite3.dylib
EmployeeAPI/bin/Debug/netcoreapp3.1/runtimes/win-arm/native/e_sqlite3.dll
EmployeeAPI/bin/Debug/netcoreapp3.1/runtimes/win-arm64/native/e_sqlite3.dll
EmployeeAPI/bin/Debug/netcoreapp3.1/runtimes/win-x64/native/e_sqlite3.dll
EmployeeAPI/bin/Debug/netcoreapp3.1/runtimes/win-x86/native/e_sqlite3.dll
EmployeeAPI/bin/Debug/netcoreapp3.1/SQLitePCLRaw.batteries_v2.dll
EmployeeAPI/bin/Debug/netcoreapp3.1/SQLitePCLRaw.core.dll
EmployeeAPI/bin/Debug/netcoreapp3.1/SQLitePCLRaw.nativelibrary.dll
EmployeeAPI/bin/Debug/netcoreapp3.1/SQLitePCLRaw.provider.dynamic_cdecl.dll
EmployeeAPI/bin/Debug/netcoreapp3.1/System.Collections.Immutable.dll
EmployeeAPI/bin/Debug/netcoreapp3.1/System.Diagnostics.DiagnosticSource.dll
EmployeeAPI/bin/Debug/netcoreapp3.1/System.Text.Json.dll
